@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
.login-tab form{
    padding: 4rem;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(70, 70, 70);
    border-radius: 7px;
}
.login-tab form .form-group{
    margin: 1rem 0;
    position: relative;
}
.login-tab form .form-group input, .login-tab form .form-group .button{
    padding: 0.40rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;   
    outline: none;    
    border-radius: 5px;
}
.login-tab form .form-group input{
    border: 1px solid rgb(189, 189, 189);
    padding: 0.5rem;
}
.login-tab form .form-group .button{
    color: rgb(255, 255, 255);
    border: rgb(65, 65, 65) 1px solid;
    cursor: pointer;
    font-weight: 1000;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    background-color: rgb(65, 65, 65);
    animation: mouseClick 1s linear;
    height: 2rem;
    text-decoration: none;
}
.login-tab form .form-group .button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2rem;
    background-color: rgba(204, 204, 204, 0.178);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.login-tab form .form-group .button:hover:before{
    width: 100%;
}





















